body {
    margin: 0;
}

.navbar {
    display: grid;
    grid-template-columns: 1fr 4fr 2fr;
    padding: 0 1em;
    background: rgb(59, 107, 79);
}

.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#hamburger {
    display: none;
    color: black;
    text-decoration: none;
}

.logo {
    padding: 1em;
    color: black;
    text-decoration: none;
}

.left-links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.right-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.link {
    padding: 1em;
    background: rgb(37, 66, 49);
    color: white;
    text-decoration: none;
}

@media (min-width: 48em) {
    #hamburger {
        display: none;
    }
}

@media (max-width: 48em) {
    .navbar,
    .navbar.active .left-links,
    .navbar.active .right-links,
    .navbar.active .link {
        display: block;
    }

    #hamburger {
        display: inline-block;
        color: black;
        text-decoration: none;
    }

    .navbar .toggle,
    .navbar .logo {
        display: inline-block;
    }

    .left-links, .right-links {
        display: none;
    }

    .navbar.active {
        padding: 0;
    }

    .navbar.active .toggle {
        background: rgb(37, 66, 49);
        padding: 1.09em;
    }
}

.rand-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    transform: rotate(90deg);
    width: 60%;
}